<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  <body class="form">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="form__main">
        <h1>Formulario: Editar Producto</h1>
      </main>
      <!-- pie de pagina -->

      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

          <script src="/javascripts/home.js"></script>

  </body>

</html>